fastapi
uvicorn
pydantic
python-dotenv
openai
pymupdf
pdf2image
pytesseract
pandas
openpyxl
faiss-cpu
numpy
python-docx
sentence-transformers
huggingface_hub
sentencepiece
opencv-python-headless
torch
torchvision
matplotlib
markdown
requests
hf_xet
spaces
pillow
gradio
av
boto3
