--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-multipart
pymupdf
faiss-cpu
sentence-transformers
huggingface_hub
sentencepiece
opencv-python-headless
boto3
markdown
requests
openai
anthropic
pydantic[email]
python-dotenv
pandas
openpyxl
python-docx
pytesseract
numpy
flashrank
diskcache
reportlab
markdown2
rank_bm25
pymongo
slowapi
PyJWT
fuzzywuzzy
python-Levenshtein
Pillow
ftfy
gdown
redis
gunicorn
tenacity
razorpay
